.navbar{
    padding:20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo{
    width: 150px;
}

.navbar-menu{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.navbar-menu li{
    list-style: none;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}

.navbar-right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.navbar button{
    background-color:transparent;
    font-size: 14px;
    padding: 10px 30px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    border: 1px solid tomato;
    transition: 0.3s ease;
}

.navbar button:hover{
    background-color: tomato;
    color: white;
}

.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid black;
    
}

.navbar-basket-icon{
    position: relative;
}
.navbar-basket-icon .dot{
    position: absolute;
    min-height: 10px;
    min-width: 10px;
    border-radius: 50%;
    background-color: tomato;
    top: -8px;
    right: -8px;
}